.imageCirclesContainer {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    /*border: 1px solid #4C4CFF;*/
}

.imageCircleWrapper {
    position: relative;
    flex-grow: 0;
    margin-right: -16px;
    z-index: 2;
}

.overlay {
    position: relative;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 33, 0.6);
    z-index: 1;
}

.overlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    z-index: 3;
}
